body {
  margin: 0px;
  background-color: black;
}

.home-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h6 {
    color: white;
    margin-right: 15px;
}

.kent-header p{
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 16em;
    /* // background-image: url("../images/boom.mov");
    // background-image: url("../images/giphy.gif"); */
    background-image: url("../images/moon.webp");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    height: 200px;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.whats-new {
  width: 100%;
}

.new-card {
  height: 42px;
}


