@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0px;
  background-color: black;
}

.home-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.kent-header p{
  font-family: 'Anton', sans-serif;
  letter-spacing: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 16em;
    /* // background-image: url("../images/boom.mov");
    // background-image: url("../images/giphy.gif"); */
    background-image: url("../images/moon.webp");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    height: 200px;
}

.subheading {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0px 0px 32px 0px;
}

.child-heading {
  display: flex;
  justify-content: center;
  background-color: rgba(230, 132, 4, 0.102);
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 2px;
  color: white;
  margin: 15px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 15px;
  text-align: center;
}

.whats-new {
  width: 100%;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.new-card {
  height: 42px;
}


