body {
  margin: 0px;
}

.navigation {
  background-color: blue;
}

.nav-bar-container {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  background-color: #191919;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  -webkit-box-shadow: inset 0px 11px 47px 35px #03030391;
  box-shadow: inset 0px 11px 47px 35px #03030391;
  border: 1px solid #00D1FF;
  border-radius: 30px;
  width: 90%;
  /* margin-top: 42px; */
  /* position: fixed; */
}

.nav-bar-container img {
  width: 125px;
}


.left-links,
.right-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.left-links a,
.right-links a {
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.25s;

}

.left-links a:hover,
.right-links a:hover {
  color: #F17300;
  text-decoration: none;
}

