body, html {
  background-color: white;
}

.store-page {
  display: flex;
  width: 100%;
  padding: 20px;

  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* height: 100%; */
}

/* .store-header {
  background: #191919;
  width: 42%;
  border-radius: 0px 100px 0px 0px;
  /* padding: 5px */
/* }

.store-header p{
  margin: 45px;
  color: rgb(255, 255, 255)
}  */

.iframe-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.store-container {
  background-color: white;
  width: 97%;
  height: 100%;
}

.store-container Iframe{
  background-color: white;
  border: none;
  margin-top: 170px;
  width: 100%;
  height: 1000px;
}